body{
  text-align: center;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

.images{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.image{
  width: 33%;
}

.form__upload,.form__send{
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.form__upload label,.form__send label{
  display: block;
  padding: 15px;
}

.form__send span{
  display: inline-block;
  width: 100px;
}


